@media all and (max-width: 1340px) {
 .sidebar {
  display: none;
 }
}
@media all and (max-width: 1020px) {
 article img { width: 100%; }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and
(orientation: portrait) {
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and
(orientation: portrait) {
body { min-width: 320px; }
article > * { width: 94.5%; }
article img + article p,
article img + article blockquote,
article img + article ul { margin-top: 269px;}
article p, article blockquote, article li, article em { margin-top: 101px; font-size: 70px; line-height: 119px;}
article h1 { margin-top: 234px; font-size: 133px; line-height: 157px;}
article h1 + p { font-size: 77px; line-height: 112px;}
article h1 + p + p { margin-top: 105px;}
article h2 { margin-top: 150px; font-size: 112px; line-height: 126px;}
article h2 + p,
article h2 + blockquote { margin-top: 24px;}
article h3 { margin-top: 126px; font-size: 98px; line-height: 119px;}
article h3 + p,
article h3 + blockquote { margin-top: 21px;}
article img + h2 { margin-top: 276px;}
article h2 + img { margin-top: 82px;}
article h3 + img { margin-top: 287px;}
article blockquote::before {
  width: 10px;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  margin-left: -20px;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 165px;
  padding: 0 75px;
  border-bottom: 3px solid #aaa;
  box-shadow: 0 14px 42px 7px rgb(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: 100px;
}
.menubar img {
  height: 80%;
  width: auto;
}
.menubar a {
  height: 70px;
  text-decoration: none;
  color: #aaa;
  font-size: 60px;
}
.index-item {
  display: block;
  position: relative;
  background: white;
  width: 900px;
  margin: 0 auto;
  padding: 105px 75px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 3px;
}
.index-item { width: 94.5%; }
.index-item img {
  width: 100%;
}
.index-item h1 {
  font-family: 'PT Sans Caption', sans-serif; font-weight: bold;
  font-size: 112px;
  line-height: 157px;
  font-weight: bold;
}
.index-item p {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 77px;
  line-height: 105px;
  color: rgba(0, 0, 0, .4);
}
.index-item a {
  font-family: 'PT Sans Caption', sans-serif;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index-item:nth-of-type(3) {
  margin-top: 75px;
}
section {
  display: flex;
  justify-content: space-between;
  margin-top: 252px;
}
section div {
  width: 50%;
  overflow: hidden;
  margin-left: 105px;
}
section h1 {
  font-size: 140px;
  margin-top: 210px;
  margin-bottom: 133px;
}
section p {
  font-size: 91px;
  line-height: 5.25;
}
section div:nth-of-type(2) h1,
section div:nth-of-type(2) p:nth-of-type(2) {
  margin-left: 105px;
}
section div:nth-of-type(1) img {
  margin-top: 119px;
}
section:nth-of-type(3) div:nth-of-type(2) img {
  margin-top: 210px;
}
.one {
  margin-top: 252px;
}
.two {
  margin-top: 70px;
}
.bottom_block {
  padding-top: 280px;
}
section a {
  border: 3.5px solid black;
  margin-top: 315px;
}
.btn {
  padding: 52px 140px;
  border-radius: 14px;
}

}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and
(orientation: landscape) {
 .sidebar { display: none; }
}
@media all and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
 .sidebar { display: none; }
}
